$menu: 30px;
.professions {
  //background-image: url("./background.jpg");
  //background-size: cover;
  //background-repeat: no-repeat;
  //background-position: center center;
  background-color: black;
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 30px 70px 60px 50px;
  grid-template-areas: "menu menu menu menu menu menu"
                        ". . page-title page-title . ."
                        ". description description description description ."
                        "navigation-left navigation-left profession-title profession-title navigation-right navigation-right";

  color: white;

  &__menu {
    grid-area: menu;
  }

  &__header {

  }
  &__page-title {
    grid-area: page-title;
    text-align: center;
    font-size: 30px;
  }
  &__description {
    grid-area: description;
    text-align: center;
    font-size: 15px;
  }

  .navigation {

    &__previous {
      grid-area: navigation-left;
      text-align: left;
    }

    &__next {
      grid-area: navigation-right;
      text-align: right;
    }
  }
  .profession {
    &__title {
      text-align: center;
      font-size: 35px;
      grid-area: profession-title;
    }
  }
}




